{% extends 'base.html' %}


{% block content %}

{% if error %}
{{ error }}
{% endif %}
<br />
<br/>
<h1>Sign Up!</h1>

<! it describe the address where to take the data after form is submitted >
<form method="POST" action="{% url 'signup' %}">
    <! We include csrf_token to protest our website from different form of attacks >
    {% csrf_token %}
    Username:
    <br />
    <input type="text" name="username" />
    <br />
    Password:
    <br />
    <input type="password" name="password1">
    <br />
    Confirm Password:
    <br />
    <input type="password" name="password2">
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Sign Up!" />
</form>
<br/>
{% endblock %}